<div class="container mt-3">
  <div class="row">
    <div class="col md-8">
      <h2>Detail Contact</h2>

      <!-- !contact artinya array itu tidak ada / array yang masuk kedalam kondisi tidak ada di dalam array contact. -->
      <% if (!contact) { %>
      <div class="alert alert-danger fw-bold" role="alert">
        Data contact tidak ada <br />
        <a href="/contact" class="alert-link fw-normal">&laquo; Kembali</a>.
      </div>
      <% } else {%>
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <!-- Disini contact diambil dari contact app.js yang sudah dirender ke detail.ejs -->
          <h5 class="card-title"><%= contact.nama %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= contact.noHp %></h6>
          <p class="card-text"><%= contact.email %></p>

          <a href="/contact/edit/<%= contact.nama %>" class="btn btn-info badge">Edit</a>

          <!-- Membuat tombol Delete dan diisi onclick yang mereturn confirm -->
          <!-- <a href="/contact/delete/<%= contact.nama %>" class="btn btn-danger badge" onclick="return confirm('Are you sure?')">Delete</a> -->

          <!-- setelah tombol di submit, route akan mengarah ke attribute action di bawah ini. -->
          <form action="/contact?_method=DELETE" method="POST" class="d-inline-block">
            <input type="hidden" name="nama" value="<%= contact.nama %>" />
            <!-- pada saat tombol di tekan maka akan mengirim semua hasil input yang ada di dalam form ini. -->
            <button type="submit" class="btn btn-danger badge" onclick="return confirm('Are you sure!?')">Delete</button>
          </form>
          <!-- &laquo; untuk memberikan icon arrow -->
          <a href="/contact" class="card-link d-block mt-3">&laquo; Kembali</a>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
